---
jobs:
  image:
    name: Image
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      # Harden the runner (Audit all outbound calls)
      # https://github.com/step-security/harden-runner
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      # Checkout repository
      # https://github.com/actions/checkout
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      # Build and start image
      - name: Build and start image
        run: |
          docker compose up --detach
        working-directory: tests
      # Wait for container to start and run
      - name: Wait for container to start and run
        run: |
          sleep 300
      # Check status of IRRd and IRR Explorer
      - name: Check status of IRRd and IRR Explorer
        run: |
          curl -fsSLX GET "http://localhost:8080/v1/status" | grep "Listening on"
          curl -fsSLX GET "https://irr.internet.asn.au" | grep "<title>IRR explorer</title>"
      # Grab the container logs
      - if: ${{ !cancelled() }}
        name: Grab container logs
        run: |
          docker compose logs irrd
        working-directory: tests
      # Stop and remove containers
      - if: ${{ !cancelled() }}
        name: Stop and remove container
        run: |
          docker compose down
        working-directory: tests
  shell:
    name: Shell
    permissions:
      contents: read
      security-events: write
    runs-on: ubuntu-24.04
    steps:
      # Harden the runner (Audit all outbound calls)
      # https://github.com/step-security/harden-runner
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      # Checkout repository
      # https://github.com/actions/checkout
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      # Run ShellCheck
      # https://www.shellcheck.net/wiki/GitHub-Actions
      - name: Run ShellCheck
        run: find . -type f -name "*.sh" -exec shellcheck {} +
name: Test
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
